<div class="nav-header mb-3">
  <div class="sub-header">
    <div class="title">
      <h2 class="mr-1">{{ title }}</h2>
      <button type="button" class="btC">
        <div>...</div>
      </button>
    </div>
    <div class="buttons">
      <button type="button" class="btn btn-green">+ Adicionar</button>
    </div>
  </div>
  <div class="tabs">
    <ng-template></ng-template>
    <ul *ngIf="mainRoute">
      <li>Profile</li>
      <li>Notifications</li>
      <li>Account</li>
      <li>Apps</li>
    </ul>
    <ul *ngIf="profileRoute">
      <li routerLink="profile" routerLinkActive="active">Profile</li>
      <li routerLink="profile-notifications" routerLinkActive="active">Notifications</li>
      <li>Account</li>
      <li>Apps</li>
    </ul>
  </div>
</div>
