@import "../../../../../styles/global.scss";

.header {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: #fff;
  padding: 15px 15px 0px 20px;
  height: 110px;
  position: sticky;
  top: 0;
  z-index: 999;

  .sub-header {
    display: flex;
    justify-content: space-between;
    .btC {
      width: 22px;
      height: 22px;
      border-radius: 50%;
      background: #ccc;
      outline: none;
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .title {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .sub-buttons {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .buttons {
      ::ng-deep {
        button {
          background-color: $lightGreen;
          padding: 5px 15px;
          border-radius: 50px;
          color: $cinzaEscuro;
          outline: none;
          border: none;
          opacity: 1;
          &:hover {
            background-color: #99e58b;
          }
        }
      }
    }
  }
  .menu {
    ::ng-deep {
      .profile-tabs {
        display: flex;
        align-items: center;
        list-style: none;
        margin: 0;
        .profile-tabs-item {
          margin: 0px 15px;
          color: #1b1b1b;
          font-size: 18px;
          font-family: Heebo, sans-serif;
          cursor: pointer;
          border-bottom: 2px solid #fff;
          &:first-child {
            margin-left: 0;
          }

          &:hover,
          &:active,
          &.active,
          &:focus {
            border-bottom: 2px solid #ffc200;
          }
        }
      }
    }
  }
}
