<app-header title="Configurações de perfil" [profileRoute]="true">
</app-header>


<div class="container">
  <div class="box">
    <img src="https://jcfsoft.com/images/select-icon-1.jpg" alt="">
    <span class="btn-foto">
      Change
    </span>
    <form action="">
      <div class="form-group">
        <label for="name">Nome</label>
        <input type="text" class="form-control" id="name">
      </div>

      <div class="form-group">
        <label for="role">Função</label>
        <input type="text" class="form-control" id="role">
      </div>

      <div class="form-group">
        <label for="teams">Equipe</label>
        <input type="text" class="form-control" id="teams">
      </div>

      <div class="form-group">
        <label for="about">Sobre</label>
        <textarea class="form-control" id="about"></textarea>
      </div>

      <div class="form-group">
        <button type="button" class="btn btn-success">Update Profile</button>
        <button type="button" class="btn btn-link">Cancelar</button>
      </div>

    </form>
  </div>
</div>
