<div class="App">
  <header class="App-header">
    <div class="box">
      <div class="boxLogo">
        <img src="/assets/logo_cinza.png" alt="Projectus" />
      </div>

      <div class="boxInput">
        <form [formGroup]="form" (ngSubmit)="handleForgot($event)">
          <div class="form-group text-left">
            <label htmlFor="email">Email</label>
            <input type="email" name="email" id="email" class="form-control" formControlName="email" />
          </div>

          <div class="form-group">
            <div class="msg error" *ngIf="setMsg">
              <p>{{ setMsg }}</p>
            </div>
          </div>
          <div class="d-flex justify-content-center align-items-center mt-1">
            <button type="submit" class="google-account mr-2" [disabled]="form.invalid">Send</button>
          </div>

          <div>
            <a href="/" class="forgot">Voltar para login</a>
          </div>
        </form>
      </div>
    </div>
  </header>
</div>
