<div class="logo-search d-flex justify-content-between align-items-center">
  <div>
    <a class="btn btn-link" href="/dashboard">
      <img src="/assets/Logo.png" alt="Logo Projectus" />
    </a>
  </div>
  <div>
    <fa-icon [icon]="faSearch"></fa-icon>
  </div>
</div>
<div class="user-perfil">
  <div class="d-flex justify-content-between align-items-center">
    <div>
      <img class="image" [src]="avatarImg" alt="" />
    </div>
    <div class="align-items-center d-flex justify-content-around">
      <div class="mx-3">
        <div class="title">Emilee Simchenko</div>
        <div class="function">Product Owner</div>
      </div>
      <div>
        <button type="button" class="bt fs-18">
          <fa-icon [icon]="faEllipsisH"></fa-icon>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="tasks">
  <div class="d-flex justify-content-between align-items-center">
    <div class="completed-tasks">
      <div class="number">372</div>
      <div class="font-weight-bold">Completed Tasks</div>
    </div>
    <div class="completed-tasks">
      <div class="number">11</div>
      <div class="font-weight-bold">Open Tasks</div>
    </div>
  </div>
</div>


<div class="menu">
  <h5 class="title">MENU</h5>
  <ul>
    <li routerLink="../dashboard" routerLinkActive="active">
      <div class="d-flex justify-content-between">
        Home
      </div>
    </li>
    <li routerLink="tasks" routerLinkActive="active">
      <div class="d-flex justify-content-between">
        My Tasks
      </div>
    </li>
    <li routerLink="notifications" routerLinkActive="active">
      <div class="d-flex justify-content-between">
        <div>
          Notifications
        </div>
        <div class="notif">3</div>
      </div>
    </li>
  </ul>

  <h5 class="title">PROJECTUS</h5>
  <ul>
    <li>
      <div class="d-flex justify-content-between">
        Dashboard UI Kit
      </div>
    </li>
    <li>
      <div class="d-flex justify-content-between">
        CRM System
      </div>
    </li>
    <li>
      <div class="d-flex justify-content-between">
        Website Redesign
        <div>
          <fa-icon [icon]="faEllipsisH"></fa-icon>
        </div>
      </div>
    </li>
    <li>
      <div class="d-flex justify-content-between">
        Communication Tool
      </div>
    </li>
    <li routerLink="project-new" class="text-yellow">
      <div class="d-flex justify-content-between text-yellow">
        + Add a Project
      </div>
    </li>
  </ul>
</div>
