<div class="logo-search d-flex justify-content-between align-items-center">
  <div>
    <a class="btn btn-link fs-18 text-light" href="/dashboard">
      <img src="/assets/Logo.png" alt="Logo Projectus" />
      PROJECTUS
    </a>
  </div>
  <div>
    <fa-icon [icon]="faSearch"></fa-icon>
  </div>
</div>
<div class="user-perfil">
  <div>
    <img class="image" [src]="(!avatarImg || (avatarImg != '')) ? avatarImg : 'assets/Logo.png'" alt="" />
  </div>

  <div>
    <div class="title" routerLink="profile">Emilee Simchenko</div>
    <div class="function">Product Owner</div>
  </div>

  <div>
    <button type="button" class="bt fs-18" (click)="dropdown = !dropdown">
      <fa-icon [icon]="faEllipsisH"></fa-icon>
    </button>


    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>
  </div>
</div>

<div class="tasks">
  <div class="d-flex justify-content-between align-items-center">
    <div class="completed-tasks">
      <div class="number">372</div>
      <div class="font-weight-bold">Completed Tasks</div>
    </div>
    <div class="completed-tasks">
      <div class="number">11</div>
      <div class="font-weight-bold">Open Tasks</div>
    </div>
  </div>
</div>


<div class="menu">

  <h5 class="title">{{menu.title}}</h5>
  <ul>
    <li [routerLink]="item.path" [routerLinkActive]="item.classActive" *ngFor="let item of menu.subMenu">
      <div class="d-flex justify-content-between">
        <span>{{item.name}}</span>
        <div class="notif" *ngIf="item.icon">3</div>
      </div>
    </li>

  </ul>

  <h5 class="title">{{projetos?.title}}</h5>

  <ul>
    <li [routerLink]="item.path" class="d-flex justify-content-between align-items-center"
      *ngFor="let item of projetos.subMenu">
      <span *ngIf="item.icon">
        <img [src]="item.icon" alt="">
      </span>
      <span>{{item.name}}</span>
    </li>

    <li routerLink="project-new" class="text-yellow">
      <div class="d-flex justify-content-between text-yellow">
        + Adicionar um projeto
      </div>
    </li>
  </ul>

  <h5 class="title">Equipe</h5>
  <ul>
    <li class="d-flex justify-content-between">
      <div>
        Designers
      </div>
      <div class="teams-image">
        <img src="assets/teams1.png" alt="" ngbTooltip="Titi">
        <img src="assets/teams2.png" alt="" ngbTooltip="Srº Bills">
        <img src="assets/teams3.png" alt="" ngbTooltip="Srº Wis">
      </div>
    </li>
    <li class="d-flex justify-content-between">
      <div>
        Backend
      </div>
      <div class="teams-image">
        <img src="assets/teams4.png" alt="" ngbTooltip="Goten">
        <img src="assets/teams5.png" alt="" ngbTooltip="Trunks">
      </div>
    </li>
    <li class="d-flex justify-content-between">
      <div>
        Frontend
      </div>
      <div class="teams-image">
        <span>+ 10</span>
        <img src="https://jcfsoft.com/images/Image.png" alt="" ngbTooltip="Curirin Ferreira">
        <img src="https://jcfsoft.com/images/Image.png" alt="" ngbTooltip="Gohan Ferreira">
        <img src="https://jcfsoft.com/images/Image.png" alt="" ngbTooltip="Buma Ferreira">
        <img src="https://jcfsoft.com/images/Image.png" alt="" ngbTooltip="Goku Ferreira">
      </div>
    </li>
    <li routerLink="project-new" class="text-yellow">
      <div class="d-flex justify-content-between text-yellow">
        + Adicionar uma equipe
      </div>
    </li>
  </ul>
</div>
