$icomoon-font-family: "projectus" !default;
$icomoon-font-path: "fonts" !default;

$icon-tres-pontos: "\e900";
$icon-search: "\e901";
$icon-check: "\e902";
$icon-closer: "\e903";
$icon-edit: "\e904";
$icon-download: "\e905";
$icon-chat: "\e906";
$icon-message: "\e907";

