@import "./../../styles/global.scss";

.dashboard {
  display: grid;
  grid-template-columns: 300px 1fr;
  // grid-template-rows: 100px 1fr;
  grid-template-areas:
    // "sidebar header"

    "sidebar main";
  height: 100%;

  .sidebar {
    background-color: #000;
    grid-area: sidebar;
    overflow: auto;
  }

  // .section {
  //   background: #6d6d6c;
  //   grid-area: header;
  // }
  .header {
    padding: 20px;
    background-color: #fff;
    grid-area: header;
  }

  .main {
    background-color: #ccc;
    padding: 0px;
    grid-area: main;
    overflow: auto;
  }
}
