<app-header title="Home">
  <div role="buttons">
    <button type="button" class="btn btn-green">+ Adicionar</button>
  </div>
</app-header>

<div class="d-flex">
  <div class="col-md-8 col-12">
    <div class="alert alert-orange">
      <strong>CONFIRM YOUR EMAIL ADDRESS EMILEESIMCHENKO@COMPANY.CO</strong>
      <button type="button" class="close">x</button>
    </div>


    <div class="card">
      <div class="card-body">
        <h4>Completed Tasks</h4>
        <div class="d-flex justify-content-between">
          <div class="tasks-numbers">
            372
          </div>
          <div>
            s.,çlsmdçlçlsdçl
          </div>
        </div>
      </div>
    </div>

    <div class="row my-2">
      <div class="col-md-6 col-12">
        <div class="card">
          <div class="card-body text-center">
            <h4>Working Rate</h4>
            <div class="">
              <img src="assets/working-rate.png" alt="Working Rate">
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-12">
        <div class="card">
          <div class="card-body text-center">
            <h4>Performance</h4>
            <div class="">
              <img src="assets/performance.png" alt="Performance">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row my-2">
      <div class="col-md-12 col-12">
        <div class="card">
          <div class="card-body">
            <div class="today-tasks">


              <div class="titulo d-flex justify-content-between align-items-center">
                <h3>Today Tasks</h3>
                <button type="button" class="btn btn-green">
                  + Adicionar tarefa
                </button>
              </div>


              <div class="tasks">
                <div class="taks-status">
                  <input type="checkbox" />
                </div>
                <div class="task-title">
                  <h4>E-mail after registration so that i can confirm my address</h4>
                  <div class="taks-user">
                    <img src="assets/teams1.png" alt="">
                    <span class="badge badge-developement">Developement</span>
                  </div>
                </div>
              </div>

              <div class="tasks">
                <div class="taks-status">
                  <input type="checkbox" />
                </div>
                <div class="task-title">
                  <h4>Find top 5 customers and get reviews from them</h4>
                  <div class="taks-user">
                    <img src="assets/teams1.png" alt="">
                    <span class="badge badge-marketing">Marketing</span>
                  </div>
                </div>
              </div>


            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="col-md-4 col-12">
    <div class="card">
      <div class="card-body">
        <div class="activy">
          <h3>Activy</h3>

          <div class="titulo">TODAY</div>

          <ng-container *ngFor="let item of actives">
            <div class="activy-item">
              <div>
                <div class="icon">
                  <fa-icon [icon]="faCheck"></fa-icon>
                </div>
              </div>
              <div class="info">
                <div>
                  <span [innerHtml]="item.title"></span>
                </div>

                <div class="hour">{{ item.hour }}</div>
                <div class="images">
                  <ng-container *ngFor="let img of item.images">
                    <img [src]="img.path" />
                  </ng-container>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
